<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital@1&display=swap" rel="stylesheet">
</head>

<body>
    <%- include('./partials/nav') %>

        <div class="container">
            <div class="subforum-title">
                <h1>Discussions</h1>
            </div>
            <% data.discussions.forEach(disc=> { %>
                <div class="subforum-row">
                    <div class="subforum-icon subforum-column center">
                        <i class="fa fa-car center"></i>
                    </div>
                    <div class="subforum-description subforum-column">
                        <h4><a href="/discussion/<%= disc._id %>">
                                <%= disc.heading %>
                            </a></h4>
                        <p>
                            <%= disc.description %>
                        </p>
                    </div>
                    <div class="subforum-stats subforum-column center">
                        <span>
                            <%= disc.replies.length %> Replys
                        </span>
                    </div>
                    <div class="subforum-info subforum-column">
                        <b><a href="">Posted by</a></b> <a href="">
                            <%= disc.author.username %>
                        </a>
                        <br>on <small>
                            <%= moment(disc.timestamp).format("MMM Do YYYY") %>
                        </small>
                    </div>
                </div>
                <% }) %>

                    <!--More-->



        </div>
        <!---->

        <!-- Forum Info -->
        <div class="forum-info">
            <div class="chart">
                MyForum - Stats &nbsp;<i class="fa fa-bar-chart"></i>
            </div>
            <span><u>5,369</u> Posts in <u>48</u> Topics by <u>8,124</u> Members.</span><br>
            <span>Latest post: <b><a href="">Random post</a></b> on Dec 15 2021 By <a href="">RandomUser</a></span>.<br>
            <span>Check <a href="">the latest posts</a> .</span><br>
        </div>

        <footer>
            <span>&copy; Selmi Abderrahim | All Rights Reserved</span>
        </footer>
        <script src="/js/main.js"></script>
</body>

</html>